body{
              background-color: #e9ebee;              
              font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
              font-size: 16px;
              margin: 0 auto;
              max-width: 800px;               
          }

p{
	font-size: 2.5em;
  text-align: center;
}

table{
   text-align: left;
   width: 100%
 }

td{
  width: 100px;
}