body{
              background-color: #e9ebee;              
              font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
              font-size: 16px;
              margin: 0 auto;
              max-width: 800px;               
          }

p{
	font-size: 2em;
  font-weight: bold;
  color: brown;
  text-align: center;
  text-decoration-line: underline;
  text-align: justify-all;
}
h1{
  text-decoration-line: underline;
}
a:hover{
  color: orange;
  background-color: blue;
}
#maphoto
{
  float: right;
}


table{
  background-color: white;
  text-align: left;
  width: 100%;
 }
 .nth-child{
  background-color: gray;
  text-align: left;
 }
 table:hover{
  background-color: black;
  color: white;
  text-align: left;
  width: 100%;
 }
td{
  width: 100px;
}